
@{
    ViewData["Title"] = "BookAService";
    var user = Context.Session.GetString("User");
    SessionUser sessionUser = new SessionUser();

    if (user != null)
    {
        sessionUser = JsonConvert.DeserializeObject<SessionUser>(user);
    }
}
<section class="first-img">
    <img src="~/img/Book-Service/book-service-banner.jpg" alt="">
</section>


<section class="Book-service pt-0" id="FAQ">
    <div class="max-width-1170 pt-0">
        <div class="row justify-content-center text-center">
            <div class="col-12 mb-90" style="position: relative;">
                <h2 class="headding-star">Set Up your cleaning services</h2>
            </div>
        </div>

        <div class="book-service-body row">
            <div class="container container-max-width mb-60 col-md-8">
                <ul class="nav nav-pills mb-30 col-md-12" id="pills-tab" role="tablist">
                    <li class="nav-item col b-l-1 b-b-1" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-setup"
                                type="button" role="tab" aria-controls="pills-home" aria-selected="true" onclick="btnsetuptab()">
                            <img src="~/img/Book-Service/setup-service.png" alt="" class="setup-img"> <span>Setup Service</span>
                        </button>
                    </li>
                    <li class="nav-item col b-l-1 b-b-1" role="presentation">
                        <button class="nav-link disabled" id="pills-schedule-tab" data-bs-toggle="pill" data-bs-target="#pills-paln"
                                type="button" role="tab" aria-controls="pills-schedule" aria-selected="false" onclick="btnscheduleuptab()">
                            <img src="~/img/Book-Service/schedule.png" alt="" class="schedule-img"> <span> Schedule & Plan</span>
                        </button>
                    </li>
                    <li class="nav-item col b-l-1 b-b-1" role="presentation">
                        @*<button class="nav-link disabled" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-details" type="button" role="tab" aria-controls="pills-profile"
                                    aria-selected="false" onclick="btndetailstab()">
                                <img src="~/img/Book-Service/details.png" alt="" class="details-img"> <span>
                                    Your Details
                                </span>
                            </button>*@
                        <button class="nav-link disabled" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-details"
                                type="button" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="btndetailstab()">
                            <img src="~/img/Book-Service/details.png" alt="" class="details-img"> <span> Your Details</span>
                        </button>
                    </li>
                    <li class="nav-item col b-l-1 b-b-1" role="presentation">
                        <button class="nav-link disabled" id="pills-payment-tab" data-bs-toggle="pill" data-bs-target="#pills-payment"
                                type="button" role="tab" aria-controls="pills-" aria-selected="false">
                            <img src="~/img/Book-Service/payment.png" alt="" class="payment-img"> <span>
                                Make Payment
                            </span>
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-setup" role="tabpanel" aria-labelledby="pills-home-tab">
                        @*<form asp-action="Book_Services" method="post" asp-controller="home">*@
                        <h6 class="fw-bold">Enter your Postal Code</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" @*id="" asp-for="CheckPostalCode"*@ class="form-control mb-3 me-3" id="txtzipcode" placeholder="Postal Code">
                                <span class="text-danger" id="spn_error_zipcode"></span>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btncontinue btncheckavailability" type="submit" onclick="checkAvailability()">Check Availability</button>
                            </div>

                        </div>
                        @*</form>*@
                    </div>
                    <div class="tab-pane fade " id="pills-paln" role="tabpanel" aria-labelledby="pills-schedule-tab">
                        @*<form asp-action="Schedule_Plan" method="post" asp-controller="home">*@
                        <div class="plan-body">


                            <div class="timedate">
                                <div class="card-body">
                                    <div class="headding">
                                        When do you need the cleaner?
                                    </div>
                                    <div class="datetime">
                                        <div class="datetime">
                                            <!-- <input type="text" placeholder="From Date" class="form-control input-element width-135" onfocus="(this.type='date')" onblur="(this.type='text')"> -->
                                            <input type="date" id="txtFromDate" class="calender-icon form-control input-element width-135">
                                            <!-- <input type="date" class="form-control input-element width-135" id=""> -->
                                        </div>
                                        <div class="form-group">

                                            <select class="form-select" id="drpselecttime">

                                                @for (double i = 8; i <= 18; i = (i + 0.5))
                                                {

                                                    string[] s = i.ToString().Split('.');
                                                    <option value="@i">@s[0]: @(s.Length == 2? "30" : "00")</option>
                                                }

                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <div class="headding">
                                        How long do you need your cleaner to stay?
                                    </div>

                                    <div class="time">

                                        <div class="form-group">

                                            <select class="form-select" id="ddlselecttime" name="ddlselecttime">

                                                @for (double i = 3; i <= 12; i = (i + 0.5))
                                                {
                                                    string[] s = i.ToString().Split('.');
                                                    @*<option value="121">121</option>
                                                        <option value="122">122</option>
                                                        <option value="123">123</option>*@
                                                    <option value=@i class="ddlselecttimevalue">
                                                        @s[0] : @(s.Length == 2? "5" : "0") Hrs
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <label class="errormessage text-danger" id="errormessage"></label>
                            </div>

                            <hr class="m-tb-30">


                            <div class="extra-services">
                                <h2>Extra-services</h2>
                                <div class="extra-services-icone p-tb-15">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input Excheckbox" name="Excheckbox" id="cabinets" value="InsideCabinets">
                                        <label class="custom-control-label" for="cabinets">
                                            <div class="icone-box">
                                                <!-- <div class="img-container"> -->
                                                <img src="~/img/prices/3.png" alt="forma-1" class="img-size">
                                                <!-- </div> -->
                                            </div>
                                            <span class="extra-service-name">Inside cabinets</span>
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input Excheckbox" name="Excheckbox" id="fridge" value="InsideFridge">
                                        <label class="custom-control-label" for="fridge">
                                            <div class="icone-box">

                                                <img src="~/img/prices/5.png" alt="group-22" class="img-size">

                                            </div>
                                            <span class="extra-service-name">Inside fridge</span>
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input Excheckbox" name="Excheckbox" id="oven" value="InsideOven">
                                        <label class="custom-control-label" for="oven">
                                            <div class="icone-box">

                                                <img src="~/img/prices/4.png" alt="group-22" class="img-size">

                                            </div>
                                            <span class="extra-service-name">Inside oven</span>
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input Excheckbox" name="Excheckbox" id="Laundry" value="LaundryWashAndDry">
                                        <label class="custom-control-label" for="Laundry">
                                            <div class="icone-box">

                                                <img src="~/img/prices/2.png" alt="group-22" class="img-size">

                                            </div>
                                            <span class="extra-service-name">Laundry wash & dry</span>
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input Excheckbox" name="Excheckbox" id="windows" value="InteriorWindows">
                                        <label class="custom-control-label" for="windows">
                                            <div class="icone-box">

                                                <img src="~/img/prices/1.png" alt="group-22" class="img-size">

                                            </div>
                                            <span class="extra-service-name">Interior windows</span>
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <hr class="m-tb-30">

                            <div class="comments mb-30">

                                <div class="form-group">
                                    <label for="comment" class="mb-10">Comment</label>
                                    <textarea class="form-control" id="txtcomment" rows="3" placeholder="Comments"
                                              maxlength="500"></textarea>
                                </div>
                            </div>

                            <div class="pets">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="chkHasPet">
                                    <label class="form-check-label" for="defaultCheck1">
                                        I have pets at home
                                    </label>
                                </div>
                            </div>

                            <hr class="m-tb-30">

                            <div class="continue text-right text-small-center">
                                <button class="btn btn-primary btn-lg btncontinue" type="submit" id="btntotalservices" onclick="btntotalservices(@sessionUser.UserID)">Continue</button>
                            </div>

                        </div>
                        @*</form>*@
                    </div>
                    <!-- </div> -->
                    <div class="tab-pane fade" id="pills-details" role="tabpanel" aria-labelledby="pills-profile-tab">
                        @*<form asp-action="Details" method="post" asp-controller="home">*@
                        <div class="Address-list">
                            <h2 class="headding">
                                Enter your contact details, so we can serve you in better way!
                            </h2>
                            <div class="Address-list-item" id="useraddress">

                            </div>

                            <div class="">
                                <button class="btncontinue d-inline-block btnaddress" id="btnNewAddress" onclick="btnNewAddress()">+ Add New Address</button>

                            </div>

                            <div class="newAddress">
                                <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                                    <input type="hidden" for="UserId" value="@sessionUser.UserID" id="userid" />
                                    <div class="col">
                                        <label for="AddressLine1" class="form-label">Street name</label>
                                        <input type="text" class="form-control" id="Street_name" aria-describedby="emailHelp"
                                               placeholder="Street name" for="AddressLine1">
                                        <span class="text-danger" id="spnstreetnameerror"></span>
                                    </div>
                                    <div class="col">
                                        <label for="AddressLine2" class="form-label">House number</label>
                                        <input type="text" class="form-control" id="House_number" aria-describedby="emailHelp"
                                               placeholder="House number" for="AddressLine2">
                                        <span class="text-danger" id="spnhousenumbererror"></span>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                                    <div class="col">
                                        <label for="PostalCode" class="form-label">Postal code</label>
                                        <input type="text" class="form-control" id="inpcurrentpostalcode" aria-describedby="emailHelp"
                                               placeholder="Postal code" for="PostalCode" readonly>
                                    </div>
                                    <div class="col">
                                        <label class="form-label" for="City">City</label>
                                        <select class="form-select" id="City" aria-describedby="emailHelp"
                                                placeholder="City" for="City">
                                        </select>

                                    </div>
                                </div>

                                <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                                    <div class="col">
                                        <label for="Mobile" class="form-label">Phone Number</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">+49</div>
                                            </div>
                                            <input type="text" class="form-control" id="Phone_Number" placeholder="Mobile Number" for="Mobile">

                                        </div>
                                        <span class="text-danger" id="spnmobilenumbererror"></span>
                                    </div>
                                </div>

                                <div class="btnaction mt-2">
                                    <div class="save">
                                        @*<input class="btn-rounded" / >*@
                                        <button class="btn-rounded btnsave" type="submit" onclick="SaveNewAddress()">Save</button>
                                    </div>
                                    <div class="Cancel ms-2">
                                        @*<input class="btn-rounded" />*@
                                        <button class="btn-rounded btnCancel">Cancel</button>
                                    </div>
                                </div>
                            </div>

                            <div class="continue text-right text-small-center">
                                <button class="btn btn-primary btn-lg btncontinue" id="btnaddressbookservice" type="submit" onclick="btnAddAddresstab()">Continue</button>
                            </div>

                        </div>
                        @*</form>*@
                    </div>
                    <div class="tab-pane fade " id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                        <div class="payment">
                            <h2 class="headding">
                                Pay securely with Helperland payment gateway!
                            </h2>
                            <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                                <div class="col mt-0">
                                    <label for="exampleInputEmail1" class="form-label">Promo code (optional)</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                           placeholder="Promo code (optional)">
                                </div>
                                <div class="save">
                                    @*<input class="btn-rounded" / >*@
                                    <button class="btn-rounded btnsave mt-2">Apply</button>
                                </div>
                            </div>
                            <hr class="m-tb-30">
                            <div class="mb-3 position-relative payment-card">
                                <input type="text" class="form-control card-number mw-100" placeholder="Card Number" id="cardnumber" min="16">
                                <span id="spncardnumbervalidation" class="text-danger d-block">  </span>
                                <span id="spncardexpairedvalidation" class="text-danger d-block">  </span>
                                <span id="spncardCVCvalidation" class="text-danger d-block">  </span>
                                <img src="~/img/Book-Service/credit-card-inputTagImg.png" />
                                <input type="text" class="form-control month-year" placeholder="MM/YY" aria-label="Username" id="cardexpaired">
                                <input type="text" class="form-control CC" placeholder="CVC" aria-label="Username" id="cardCVC">
                            </div>

                            <div class="accept-card float-right">
                                <p class="float-right ms-auto">Accepted cards:</p>
                                <img src="~/img/Book-Service/cardImg.png" />
                            </div>
                            <br />
                            <hr class="m-tb-30">

                            <div class="payment-check form-check">

                                <input class="form-check-input" type="checkbox" value="" id="chktermsandcondion">
                                <label class="form-check-label" for="flexCheckDefault">
                                    <span class="text-danger" id="checktermsandcondtionerror"></span> I accepted terms and conditions, the cancellation policy and the privacy policy. I confirm that Helperland starts to execute the contract before the expiry of the withdrawal period and I lose my right of withdrawal as a consumer with full performance of the contract.
                                </label>

                            </div>
                            <hr class="m-tb-30">
                            <div class="continue text-right text-small-center">
                                <button class="btn btn-primary btn-lg btncontinue" onclick="completbooking()" data-bs-toggle="modal" >Completed Booking</button>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
            <div class="col-md-4 d-none d-md-block">
                <div class="card mb-30">
                    <h2 class="card-header">Payment summary</h2>

                    <div class="card-body">
                        <p class="timedate" id="ppytime_time"></p>
                        <p class="c-6464">Duration</p>
                        <p class="tmp-time" id="basictime">Basic <span class="text-right">3hrs</span></p>
                        @*<p class="fw-bold">Extras</p>*@
                        <div class="ex_services" id="ex_services">
                            @*<label class="fw-bold d-none" id="ex">Extras</label>*@
                            @*<p class="tmp-time extra" id="ex_">inside cabinets(extra) <span class="text-right">30min</span></p>*@
                        </div>


                        <hr>
                        <p class="total-time" id="total_time">Total Service Time <span>3hrs</span></p>
                    </div>
                    <div class="card-body">
                        <p class="singal-charg" id="singal-charg">Per cleaning <span>€0</span></p>
                        @*<p class="singal-charg">Discount <span>-$27</span></p>*@
                    </div>
                    <div class="card-body total-payment">
                        <p class="total-charg" id="total-charg">Total payment <span>€0</span> </p>

                        @*<p class="effective-price">Effective Price <span>$50.4</span> </p>
                            <p class="bounce"><span class="text-danger">*</span> you will save 20% according to §35a EStG.</p>*@
                    </div>
                    <h2 class="card-footer">
                        <img src="~/img/Book-Service/smiley.png" alt="">See what is always included
                    </h2>
                </div>
                <div class="FAQ">
                    <div class="headding text-center">
                        Questions..?
                    </div>
                    <div class="accordion accordion-flush mb-3" id="accordionExample">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">

                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What's included in a cleaning?
                                </button>
                            </h3>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Bedroom, Living Room & Common Areas,Bathrooms,Kitchen,Extras
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Which Helperland professional will come to my place?
                                </button>
                            </h3>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Helperland has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available.Like working with a specific pro? Add them to your Pro Team from the mobile app and they'll be requested first for all future bookings.You will receive an email with details about your professional prior to your appointment.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Can I skip or reschedule bookings?
                                </button>
                            </h3>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    You can reschedule any booking for free at least 24 hours in advance of the scheduled start time. If you need to skip a booking within the minimum commitment, we’ll credit the value of the booking to your account. You can use this credit on future cleanings and other Helperland services.
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    <div class="for-more">
                        <a href="#" class="formorehelp">For More Help</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- Button trigger modal -->
<!-- Modal -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade successmodel" id="CompletBooking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-header">
                

                <a  class="btn-close" href="/Customer/ServiceHistory" aria-label="Close"></a>
            </div>
            <div class="modal-body p-0">
                <div class="img-box-successmodel">
                    <img src="~/img/Book-Service/correct-white-medium.png" alt="Alternate Text" />
                </div>
                <span class="d-block successmessage">Booking has been successfully submitted</span>
                <p>Service ID: <span id="serviceID"> </span>  </p>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="/Customer/ServiceHistory" class="btn btn-secondary btncontinue" >Ok</a>
            </div>
        </div>
    </div>
</div>


@*@section UserLayoutSection{
        <script>
            $('#btnSave').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/CheckName",
                    data: '{name: "' + $("#txtName").val() + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var message = $("#message");
                        if (response) {
                            message.css("color", "red");
                            message.html("Name already exist.");
                        }
                        else {
                            message.html("");
                        }
                    }
                });
            });
        </script>
    }*@
