@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
<section class="touch-us p-t-94 mt-5 mh-64" id="touch-us">
    <div class="max-width-614">
        <div class="row justify-content-center text-center">
            <div class="col-12 mb-5" style="position: relative;">
                <h2 class="headding-star">Reset Password</h2>
            </div>
        </div>
        @if (ViewBag.ErrorMessage == null)
        {
            <form asp-controller="Account" asp-action="ResetPassword" enctype="multipart/form-data">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />
                <div class="alert alert-success alert-dismissible fade m-0 @(TempData["Message"] == null ? "d-none " : "show" )" role="alert">

                    @TempData["Message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="row mt-0 mb-3">
                    <div class="col-md-8 offset-md-2">
                        <input asp-for="NewPassword" type="text" class="form-control" id="inlineFormInputGroupmobilenumber" placeholder="New Password">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                </div>
                <div class="row mt-0 mb-3">
                    <div class="col-md-8 offset-md-2">
                        <input asp-for="NewConfirmPassword" type="text" class="form-control" placeholder="New Confirm Password">
                        <span asp-validation-for="NewConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-center mt-17">
                    <button type="submit" class="btn btn-primary text-center submit-btn">Reset</button>
                </div>
            </form>
        }
        else
        {
    <div class="text-danger text-center mh-100">
        @*@ViewBag.ErrorMessage*@
        @*<h3 class="text-danger fw-bold mb-3">@(ViewBag.Message == true ? "Password Reseted Successfully") @ViewBag.ErrorMessage </h3>*@
        @if (ViewBag.Message == "true")
        {
            <h3 class="text-info fw-bold mb-3">Password Reseted Successfully</h3>
            <span class="d-block">Now You Can Login With Your New Password</span>
            <button class="btnGenderateNewLink" id="btnafterresetpasswordlogin">Login Now</button>
        }
        else
        {
            <h3 class="text-danger fw-bold mb-3">@ViewBag.ErrorMessage </h3>
            <button class="btn btnGenderateNewLink" asp-action="index" asp-controller="home" data-bs-toggle="modal" data-bs-target="#forgotmodel">Genderate The New Link</button>
        }



    </div>
        }

    </div>
</section>