@{
    var user = Context.Session.GetString("User");
    SessionUser sessionUser = new SessionUser();

    if (user != null)
    {
        sessionUser = JsonConvert.DeserializeObject<SessionUser>(user);
    }
            }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Helperland</title>
    <link rel="icon" type="image/x-icon" href="~/img/logo/favicon_img.png">

    @*Bootstrap Css*@
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*rateing css*@
    <link href="~/lib/bootstrap-star-rating/css/star-rating.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.css" rel="stylesheet" />
    @*Select2 Css*@
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
    @*custome css*@
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/css-loader.css" rel="stylesheet" />
    <!-- Data table CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />


    @*Jquery*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="loader loader-default" data-half id="loader"></div>
    <!-- navbar section start -->
    <nav class="fixed-top navbar navbar-expand-xl navbar-light admin-navbar-bg-color navbar-height-60">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span> <i class="fa fa-bars" style="font-size:30px;color:white"></i></span>
            </button>
            <h2 class="headding">
                Helperland
            </h2>
            <div class="collapse navbar-collapse sidebar-collapse-dv" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto d-none sidebar-collapse-ul">
                    @*<li class="nav-item">
                            <a class="nav-link" href="#">Service Management </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Role Management</a>
                        </li>

                        <li class='nav-link sub-menu drop-1'>
                            <a href='#Coupon'>Coupon Code Management<div class='fa fa-caret-down right'></div></a>
                            <ul>
                                <li><a href='#settings'>Coupon Codes</a></li>
                                <li><a href='#settings'>Usage History</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Escalation Management</a>
                        </li>*@

                    <li class="nav-item">
                        <a class="nav-link" asp-action="servicerequest" asp-controller="Admin">Service Requests</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="#">Service Provider</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" asp-action="UserManagement" asp-controller="Admin">User Management</a>
                    </li>

                    @*<li class='nav-link sub-menu drop-2'>
                            <a href='#Coupon'>Finance Module<div class='fa fa-caret-down right'></div></a>
                            <ul>
                                <li><a href='#settings'>All Transactions</a></li>
                                <li><a href='#settings'>Generate Payment</a></li>
                                <li><a href='#settings'> Customer Invoices</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Zip Code Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rating Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inquiry Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Newsletter Management</a>
                        </li>

                        <li class='nav-link sub-menu drop-3'>
                            <a href='#Coupon'>Content Management<div class='fa fa-caret-down right'></div></a>
                            <ul>
                                <li><a href='#settings'>Blog</a></li>
                                <li><a href='#settings'>FAQs</a></li>

                            </ul>
                        </li>*@
                </ul>
            </div>
            <div class="backblack"></div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-admin">
                <li class="admin-username">
                    <img src="~/img/admin-user/admin-user.png" alt="">
                    <span>@sessionUser.UserName</span> 
                </li>
                <li class="logout-btn">
                    <a asp-action="logout" asp-controller="account"><img src="~/img/admin-user/logout.png" alt=""></a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- navbar section end -->
    <section class="admin-body p-t-64 admin-service-body">
        <div class="Container-fluid d-flex admin-dashboard">
            <nav class="navbar navbar-expand-xl navbar-light bg-light admin-sidebar">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        @*<li class="nav-item">
                                <a class="nav-link" href="#">Service Management </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Role Management</a>
                            </li>

                            <li class="nav-link sub-menu drop-1">
                                <a href='#Coupon'>Coupon Code Management<div class='fa fa-caret-down right'></div></a>
                                <ul>
                                    <li><a href='#settings'>Coupon Codes</a></li>
                                    <li><a href='#settings'>Usage History</a></li>

                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Escalation Management</a>
                            </li>*@

                        <li class="nav-item">
                            <a class="nav-link" id="idservicerequest" asp-action="servicerequest" asp-controller="Admin">Service Requests</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" href="#">Service Provider</a>
                            </li>*@
                        <li class="nav-item border-bottom-0">
                            <a class="nav-link" asp-action="UserManagement" asp-controller="Admin">User Management</a>
                        </li>

                        @*<li class='nav-link sub-menu drop-2'>
                                <a href='#Coupon'>Finance Module<div class='fa fa-caret-down right'></div></a>
                                <ul>
                                    <li><a href='#settings'>All Transactions</a></li>
                                    <li><a href='#settings'>Generate Payment</a></li>
                                    <li><a href='#settings'> Customer Invoices</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Zip Code Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Rating Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Inquiry Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Newsletter Management</a>
                            </li>

                            <li class='nav-link sub-menu drop-3'>
                                <a href='#Coupon'>Content Management<div class='fa fa-caret-down right'></div></a>
                                <ul>
                                    <li><a href='#settings'>Blog</a></li>
                                    <li><a href='#settings'>FAQs</a></li>

                                </ul>
                            </li>*@
                    </ul>

                </div>

            </nav>

            @RenderBody()

        </div>
    </section>


    <div class="modal" id="editrefundmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">

                <div class="modal-body">
                    <input type="hidden" id="hiddenservicerequest" />
                    <button type="button" class="btn-close model-colse" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h3 class="mb-30">Reschedule Service</h3>

                    <div class="alert alert-danger d-none" id="adminerrormesgrechedual" role="alert">

                    </div>

                    <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                        <div class="col mt-0">
                            <label for="admindatechange" class="form-label">Change Date</label>
                            <input type="date" class="form-control" id="admindatechange">
                        </div>
                        <div class="col mt-0">
                            <label for="exampleInputEmail1" class="form-label">Select Time</label>
                            <select class="form-select" id="admindrpselecttime">

                                @for (double i = 8; i <= 18; i = (i + 0.5))
                                {

                                    string[] s = i.ToString().Split('.');
                                    <option value="@i">@s[0]: @(s.Length == 2? "30" : "00")</option>
                                }

                            </select>
                        </div>
                        <span class="text-danger mt-0" id="spantimechange"></span>
                    </div>

                    <label class="modelsubheadding mb-3 mt-3">Service Address</label>
                    <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                        <div class="col mt-0">
                            <label for="txtstreetname" class="form-label">Street name</label>
                            <input type="text" class="form-control" id="admintxtstreetname"
                                   aria-describedby="emailHelp" placeholder="Street name">
                            <span class="text-danger" id="spnstreetnameerror"></span>
                        </div>

                        <div class="col mt-0">
                            <label for="txthousenumber" class="form-label">House number</label>
                            <input type="text" class="form-control" id="admintxthousenumber"
                                   aria-describedby="emailHelp" placeholder="House number">
                            <span class="text-danger" id="spnhousenumbererror"></span>
                        </div>

                    </div>
                    <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                        <div class="col">
                            <label for="txtpostalcode" class="form-label">Postal code</label>
                            <input type="text" class="form-control" id="admintxtpostalcode"
                                   aria-describedby="emailHelp" placeholder="Postal code">
                            <span class="text-danger" id="spnpostalcodeerrormesg"></span>
                        </div>
                        <div class="col">
                            <label for="admindropcity" class="form-label">City</label>
                            <select class="form-select" id="admindropcity" aria-describedby="emailHelp"
                                    placeholder="City">
                            </select>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-auto g-4 mt-0">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"> Why do you want to reschedule service request?</label>
                            <textarea class="form-control" id="admincommet" rows="3"></textarea>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-lg btnlogin mt-2" type="button" onclick="editandreschedulfun()">Save</button>

                </div>

            </div>
        </div>
    </div>

    <!-- footer start-->
    <footer>
        <div class="footer-max-width">
            <div class="logo">
                <img src="~/img/logo/white-logo-transparent-background.png" alt="">
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TESTIMONIALS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">FAQS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">INSURANCE POLICY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">IMPRESSUM</a>
                </li>
            </ul>
            <div class="social-icon d-flex flex-wrap justify-content-center">
                <a href="#" class="mb-2"><img src="~/img/home/facebook.svg" alt="facebook"></a>
                <a href=""><img src="~/img/home/instagram.svg" alt="instagram"></a>
            </div>

        </div>

        <div class="d-flex justify-content-center detaile max-width">
            <p>
                ©2018 Helperland. All rights reserved. &nbsp;&nbsp;Terms and Conditions | <span>
                    <a href="">
                        Privacy
                        Policy
                    </a>
                </span>
            </p>
        </div>
    </footer>
    <!-- footer end-->



    <partial name="_ValidationScriptsPartial" />
    @*Custome JS*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>


    @*Bootsrap JS*@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
    @RenderSection("Scripts", required: false)


    @*rating js*@
    <script src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    <script src="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.js"></script>

    

    @*Fontawesome Cdn*@
    <script src="https://kit.fontawesome.com/ae6d6e0254.js" crossorigin="anonymous"></script>

    <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
    <script>
        $(document).ready(function () {

            var url = window.location.href;
            // hightlight active link
            $(".admin-sidebar ul li a").each(function () {
                // checks if its the same on the address bar
                 console.log(url + " - " + (this.href) + " = " + (url == (this.href)))
                if (url == (this.href)) {
                    /*console.log(url + "-------------");*/
                    $(this).parent().addClass("active");
                }
            });
        });
    </script>
</body>
</html>
