@{ var user = Context.Session.GetString("User");
    SessionUser sessionUser = new SessionUser();

    if (user != null)
    {
        sessionUser = JsonConvert.DeserializeObject<SessionUser>(user);
    } }


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Helperland</title>
    <link rel="icon" type="image/x-icon" href="~/img/logo/favicon_img.png">

    @*Bootstrap Css*@
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />


    @*rateing css*@

    <link href="~/lib/bootstrap-star-rating/css/star-rating.css" rel="stylesheet" />
    
    <link href="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.css" rel="stylesheet" />


    @*custome css*@
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/css-loader.css" rel="stylesheet" />

    <!-- Data table CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    @*Jquery*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>

<body>
    <div class="loader loader-default" data-half id="loader"></div>
    <div class="scroll-up-btn top-arrow">
        <i class="fas fa-chevron-up"></i>
    </div>

    <div class="scroll-up-btn message-box">
        <img src="~/img/home/layer-598.png" alt="message" class="img-fluid">

    </div>

    <!-- Navbar start-->
    <nav class=" navbar fixed-top navbar-expand-xl navbar-light @(ViewBag.page ==  "home"? "homePage"
      : "navbar-bg-color" )">

        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="homeindex">
                <img src="~/img/logo/white-logo-transparent-background.png" alt="" class="desktop-brand-img">

            </a>
            <div class="profile-nav">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span> <i class="fa fa-bars" style="font-size:30px;color:white"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @if (user != null)
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-sidebar-ul d-none">
                            <li class="username" style="user-select: auto;">
                                Welcome,<br>
                                <b style="user-select: auto;">First Customer</b>
                            </li>
                            <li class="sid-nav-item">
                                <a class="sid-sid-nav-link" aria-current="page" asp-action="dashboard" asp-controller="customer">Dashboard</a>
                            </li>
                            @if (sessionUser.UserType == UserTypeEnum.Customer.ToString())
                            {
                                <partial name="CustomerPartialView" />
                            }
                            else
                            {
                                <partial name="ServiceProviderPartial" />
                            }


                        </ul>
                    }
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link rounded-link @(ViewBag.page ==  "home"? "" : "bg-btn-29626d" )" asp-area=""
                               asp-controller="home" asp-action="Book_Services">
                                @if (ViewBag.page == "home")
                                {
                                    <spna>Book a Cleaner</spna> }
                                else
                                {
                                    <spna>Book now</spna>}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="home" asp-action="prices">

                                @if (ViewBag.page == "home")
                                {
                                    <spna>Prices</spna> }
                                else
                                {
                                    <spna>Prices & services</spna>}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">

                                @if (ViewBag.page == "home")
                                {
                                    <spna> Our Guarantee</spna> }
                                else
                                {
                                    <spna>Warranty</spna>}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="home" asp-action="contact">
                                Contact

                            </a>
                        </li>

                        @if (user == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link rounded-link @( ViewBag.page == "home" ? "" : "bg-btn-29626d" )"
                                   data-bs-target="#loginModal" data-bs-toggle="modal">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-link @(ViewBag.page ==  "home"? "" : "bg-btn-29626d" )" asp-area=""
                                   asp-controller="Account" asp-action="BecomeAPro">Become a Helper</a>
                            </li>
                        }
                        <li class="nav-item dropdown d-none @(ViewBag.page ==  "home"? (ViewBag.provider=="provider" ? ""
                : "d-xl-block" ) : "" ) ">
                            <a class=" nav-link dropdown-toggle" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false" href="#">
                                <img src="~/img/home/country-flag/gb.svg" alt="united kingdom flag" class="county-flag">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="~/img/home/country-flag/in.svg" alt="united kingdom flag" class="county-flag">
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="~/img/home/country-flag/us.svg" alt="united kingdom flag" class="county-flag">
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>



                    <ul class="social-icone-ul d-none p-0">
                        <li class="nav-item social-icon d-flex">

                            <a asp-area="" asp-controller="" asp-action="" class="mb-2">
                                <img src="~/img/logo/facebook-f-brands.svg"
                                     alt="facebook">
                            </a>
                            <a asp-area="" asp-controller="" asp-action="">
                                <img src="~/img/logo/instagram-brands.svg"
                                     alt="instagram">
                            </a>

                        </li>
                    </ul>
                </div>
                <div class="backblack"></div>
                @if (user != null)
                {
                    <div class="flot-right">
                        <ul class="navbar-nav-icone">

                            <li class="nav-item dropdown numbaer-notification-main">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="~/img/service-provider-upcoming-service/icon-notification.png" alt="">
                                </a>
                                <div class="numbaer-notification align-items-center">0</div>
                                <ul class="dropdown-menu dropdown-menu-lg-end notification-ul" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">notification 1</a></li>
                                    <li><a class="dropdown-item" href="#">notification 2</a></li>
                                    <li><a class="dropdown-item" href="#">notification 3</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown profile-icone">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="~/img/service-provider-upcoming-service/admin-user.png" alt="">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                                    <li class="username" style="user-select: auto;">
                                        Welcome,<br>
                                        <b style="user-select: auto;">@sessionUser.UserName</b>
                                    </li>

                                    <li><a class="dropdown-item" asp-action="dashboard" asp-controller="customer">My Dashboard</a></li>
                                    <li><a class="dropdown-item" asp-action="mysettings" asp-controller="customer">My Setting</a></li>
                                    <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Log Out</a></li>
                                </ul>



                            </li>
                            <li><a class="dropdown-item d-none logout" asp-action="Logout" asp-controller="Account">Log Out</a></li>
                        </ul>
                    </div>}
            </div>
        </div>
    </nav>
    <!-- Navbar end-->
    @*@if (user != null)
        {
        <section class="headding-name text-center p-t-64">
          <h2 class="headding">
            Welcome, <span>@sessionUser.UserName</span>
          </h2>
        </section>
        }*@



    @RenderBody()




    <!-- footer start-->
    <footer>
        <div class="footer-max-width">
            <div class="logo">
                <a asp-controller="home" asp-action="homeindex">
                    <img src="~/img/logo/white-logo-transparent-background.png"
                         alt="">
                </a>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="home" asp-action="index">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="home" asp-action="about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">TESTIMONIALS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="home" asp-action="faq">FAQS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">INSURANCE POLICY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">IMPRESSUM</a>
                </li>
            </ul>
            <div class="social-icon d-flex flex-wrap justify-content-center">
                <a href="#" class="mb-2"><img src="~/img/home/facebook.svg" alt="facebook"></a>
                <a href=""><img src="~/img/home/instagram.svg" alt="instagram"></a>
            </div>
        </div>
        <div class="privacy-policy d-flex align-items-center d-none" id="privacy-policy">
            <p class="mb-0 ms-auto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ipsa laborum excepturi maiores.

            </p>
            <span class="me-auto">Privacy Policy</span>
            <button class="me-2" id="btnprivacy-policy">OK</button>
        </div>
        <div class="d-flex justify-content-center detaile max-width">
            <p>
                ©2018 Helperland. All rights reserved. &nbsp;&nbsp;Terms and Conditions | <span>
                    <a href=""> Privacy Policy
                </span> </a>
            </p>
        </div>
    </footer>

    <!-- footer end-->
    <!-- Login Modal Start-->

    <div class="modal" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="btn-close model-colse" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h3 class="mb-30">Login To Your Account</h3>
                    @*<div class="alert alert-danger alert-dismissible fade m-0  mb-3 @(TempData["ErrorMessage"]==null
                        ? "d-none" : "show" )" role="alert">
                                @TempData["ErrorMessage"]
                                <button type="submit" class="btn-close" id="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>*@

                    <div id="dvloginerrormesag"></div>

                    <div class="email mb-3">
                        <input class="form-control" type="text" placeholder="Email" id="txtloginemail" />
                        <img src="~/img/home/user-profile.png" />
                        <span id="spnemailerror" class="text-danger"></span>
                    </div>
                    <div class="password mb-3">
                        <input class="form-control" type="password" placeholder="Password" id="txtloginpassword" />
                        <img src="~/img/home/lock-password.png" />
                        <span id="spnpassworderror" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="chkIsremember">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button class="btn btn-primary btn-lg btnlogin mb-2" type="button" title="Login" onclick="btnlogin()">Login</button>

                    <div class="text-center">
                        <a href="#" class="forgot text-decoration-none mb-1  d-block" data-bs-toggle="modal"
                           data-bs-target="#forgotmodel">Forgot Password</a>
                        <span>Don't have an account? </span> <a class="text-decoration-none" asp-action="CreateAccount" asp-controller="Account">Create an account</a>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- Login Modal End-->
    @*forgot Modal End*@
    <div class="modal fade" id="forgotmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="btn-close model-colse" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h3 class="mb-30">Forgot Password</h3>

                    <div id="dvforgotpassword"></div>

                    <div class="email mb-3">
                        <input class="form-control" type="text" id="inpfogEmail" placeholder="Email" />
                        <span id="spnforgoterror" class="text-danger"></span>
                    </div>

                    <button class="btn btn-primary btn-lg btnlogin mb-2" type="submit" title="Login" onclick="btnsendforgotrpswdmail()">Send</button>

                    <div class="text-center">
                        <a href="#" class="forgot text-decoration-none mb-1  d-block" data-bs-toggle="modal"
                           data-bs-target="#loginModal">Login Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- forgot Modal End-->
    <partial name="_ValidationScriptsPartial" />
    @*Custome JS*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>

    <script src="~/js/Login.js"></script>
    @*Bootsrap JS*@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    @RenderSection("Scripts", required: false)


    @*Fontawesome Cdn*@
    <script src="https://kit.fontawesome.com/ae6d6e0254.js" crossorigin="anonymous"></script>

    @*rating js*@
    
    <script src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    <script src="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.js"></script>


    <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
    @if (ViewBag.openmodel == true)
    {
        <script type="text/javascript">
            $(window).on('load', function () {
                $('#loginModal').modal('show');
            });
        </script>
    }

    @if (ViewBag.ForgotPasswordResetLinksend == true)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Forgot Password',
                text: 'If provided email is a registered email ID on Helperland, you will receive an email with further instructions on how to reset your password.',
            })
        </script>
    }
</body>
</html>